{:profile/id :kotoba/local-agent-kagi-chunks-v1
 :repo/kind :actor
 :query/location :local
 :query/api :datomic-datascript-subset
 :query/remote-capability? false
 :working-edn/editable? true
 :working-edn/private-git-policy :deny
 :working-edn/public-git-policy :allow-explicit-public
 :data/public-classification :required
 :mutation/membrane :reconcile
 :persistence/shape :append-only-transactions
 :remote/payload :kagi-chunked-edn
 :remote/head :kotobase
 :remote/transport :datalad}
